@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1190px;
    margin: 0 auto;
}

.row {
    display: flex;
}
a{
    text-decoration: none;
}
section{
    background-image: url('../img/bg-img.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    padding: 55px 0;
}
/*=====================Header===============*/
.header {
    padding: 40px 20px;
    background-color: #222;
    color: #fff;
    z-index: 99;
}

.header .row {
    justify-content: space-between;
    align-items: center;
}
.main-nav-link {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    font-size: 1rem;
}

.main-nav-link:after {
    content: '';
    position: absolute;
    bottom: -26px;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(135deg, #d1d6d2 0%, #d5e4e8 99.58%);
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;

}
.main-nav-link:hover:after {
    transform: scaleX(1);
}
.menu-toggle {
    display: none;
}
.main-nav{
    width: 50%;
}
.header-items__btn{
    width: 220px;
    height: 60px;
    position: absolute;
    outline: none;
    color: white;
    background-color: gray;
    font-size: 19px;
    letter-spacing: 2px;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    margin-top: -20px;
    border: none;

}
.ripple{
    position: absolute;
    background-color: #fff;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    animation: animate 1s linear infinite;

}
@keyframes animate{
0%{
    width: 0px;
    height: 0px;
    opacity: 0.7;
}
100% {
width: 500px;
height: 500px;
opacity: 0;
}
}
/*==================================*/


/************/
.column {
    width: 50%;
    padding: 20px 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.col-text {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 400;

}

.col-text_span {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #212121;
    margin: 0;
}

.col-text_name {
    font-weight: 700;
    font-size: 57px;
    margin-bottom: 0;
    color: #000;
    letter-spacing: 10px;
}


.col {
    width: 50%;
}

.col__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    float: right;
}
.socials{
    width: 95%;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin-top: 20px;
}
.socials__btn{
    width: 100%;
    padding: 15px 20px;
    color: #000;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 2px 3px 4px #222;
    margin: 10px 0;
    text-align: left;
    border: none;
    cursor: pointer;
   

}
.social-list{
    align-items: center;
}
.socials__img{
    width: 38px;
    height: 38px;
}
.socials__item{
    color: #000;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 8px;   
}
.socials-item{
    margin-bottom: 13px;
    padding: 12px ;
    display: flex;
    align-self: center;
    background-color: #fff;
    cursor: pointer;
    font-weight: 600;
}
